<section class="cart-bg">
    <div class="container" id="cart-card">
        <div class="page-header">
            <div class="row" id="cart-header">
                <div class="col-md-4">
                    <h2>Shopping Cart</h2>
                </div>
            </div>
        </div>
        {{#each carts}}
        <div class="row cart-item" id="order-content" data-cartID="{{id}}" data-itemID="{{item_id}}" data-userID="{{user_id}}" data-qty="{{qty}}" data-price={{price}}>
            <div class="col-md-2 text-center">
                <img src="/assets/img/BananaTV.png" width="150px" height="150px">
            </div>
            <div class="col-md-4">
                <h3><strong>{{short_desc}}</strong></h3>
            </div>
            <div class="col-md-2">
                <div class="input-group spinner">
                    <input type="number" class="form-control qty-id" value="1">
                </div>
            </div>
            <div class="col-md-2 price-div" price={{price}}>
                <h4 class="price-tag"><strong>${{price}}</strong></h4>
            </div>
            <div class="col-md-2 remove-div">
                <button type="button" class="btn btn-outline-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                    </button>
            </div>
        </div>
        <hr>
        {{/each}}
        <div class="row" id="total-box">
            <div class="col-md-8"></div>
            <div class="col-md-2">
                    <h5><strong>Sub-Total: </strong></h5>
                    <h5 id="totalPrice"><strong>Total: </strong></h5>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" id="button-container">
            <div class="col-md-4">
                <button class="btn-options" id="continue-btn"><span class="glyphicon glyphicon-chevron-right">Continue Shopping</span></button>
            </div>
            <div class="col-md-4">
                <button class="btn-options" id="update-btn"><span class="glyphicon glyphicon-refresh">Update Cart</span></button>
            </div> 
            <div class="col-md-4">
                <button class="btn-options" id="checkout-btn">
                    <span class="glyphicon glyphicon-shopping-cart">Check Out</span>
                </button>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/javascripts/carts.js"></script>
<script type="text/javascript">

        $(document).ready(function(){
            calculateTotals();
        });

        $('.qty-id').on('click', function(){
            
            updatePrice();
            updateDataAttributes();

        });

        $('.qty-id').on('keyup keydown click change', calculateTotals);

        $('#update-btn').on('click', updateCartModel);

        
        function updatePrice(){

          var itemPriceTotal = parseInt(this.parentElement.parentElement.parentElement.children[3].children[0].innerText);

          var individualPrice = parseInt(this.parentElement.parentElement.parentElement.children[3].attributes.price.value);

          var newPrice = individualPrice * parseInt(this.value);

          itemPriceTotal = newPrice;

          console.log(itemPriceTotal);

          this.parentElement.parentElement.parentElement.children[3].children[0].innerHTML = `<strong>$${itemPriceTotal}</strong>`;

        }

        function updateDataAttributes(){
            var cartRows = document.querySelectorAll('.row.cart-item');
        }

        function calculateTotals(){
            var subTotal = document.querySelector('#total-box').children[1].children[0];
            var Total = document.querySelector('#total-box').children[1].children[1];

            var itemPriceTotals = document.querySelectorAll('.price-tag');

            console.log(itemPriceTotals);

            var subtotalCalc = null;

            itemPriceTotals.forEach((total) => {
                
                price = parseInt(total.children[0].innerText.split('$')[1]);

                subtotalCalc += price;

                console.log(subtotalCalc);
            });

            subTotal.innerHTML = `<strong>Sub-Total: $${Math.floor(subtotalCalc)} </strong>`;
            Total.innerHTML = `<strong>Total: $${Math.floor(subtotalCalc * 1.08)} </strong>`;
        }

        function updateCartModel(){
            
            var dataForServer =[];

            var cartRows = document.querySelectorAll('.row.cart-item');

            console.log(cartRows);

            $.ajax({
                url: 'carts/update',
                method: 'POST',
            }).done((data) =>{
                console.log(data);
                // window.location = '/carts';
            });
        }



</script>
