<br><br><br><br><br><br><br>
{{#if loggedUser.user_type}}
     <div class="row">
        <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Product</th>
                  <th scope="col">Category</th>
                  <th scope="col">Price</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {{#each products}}
                <tr>
                  <th scope="row">{{id}}</th>
                  <td>{{short_desc}}</td>
                  <td>{{category_id}}</td>
                  <td>{{price}}</td>
                  <td>
                    <form action="products/delete" method="POST">
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="submit" value="Delete">
                    </form>
                  </td>
                </tr>
                {{/each}}

              </tbody>
        </table>
      </div>

{{/if}}
{{#unless loggedUser.user_type}}
    <p>You need to be an admin to use this page.</p>
{{/unless}}