{{#if user}}



<div class="container">
    <div class="filter">
        <ul class="categories">
            <div class="row" data-aos="fade-left">
            <div class="col-sm-1" id="cat"><li><a href="#"><img class="filter-icon" src="/assets/img/BlackBanana.png" height="40px"></a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#"><img class="filter-icon" src="/assets/img/Baccessories.png" height="40px"></a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#"><img class="filter-icon" src="/assets/img/Bphone.png" height="40px"></a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#"><img class="filter-icon" src="/assets/img/BTV.png" height="40px"></a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#"><img class="filter-icon" src="/assets/img/Bwatch.png" height="40px"></a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#"><img class="filter-icon" src="/assets/img/Bbook.png" height="40px"></a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#"><img class="filter-icon" src="/assets/img/Bbook2.png" height="40px"></a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#"><img class="filter-icon" src="/assets/img/Bbook3.png" height="40px"></a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#"><img class="filter-icon" src="/assets/img/Bpad.png" height="40px"></a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#"><img class="filter-icon" src="/assets/img/Bphones.png" height="40px"></a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#"><img class="filter-icon" src="/assets/img/Bphone.png" height="40px"></a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#"><img class="filter-icon" src="/assets/img/BphoneX.png" height="40px"></a></li></div>
            </div>
            <div class="row" data-aos="fade-left">
            <div class="col-sm-1" id="cat"><li><a href="#">Banana</a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#">Banana Accessories</a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#">Banana Touch</a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#">Banana TV</a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#">Banana Watch</a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#">BananaBook</a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#">BananaBook Air</a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#">BananaBook Pro</a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#">BananaPad</a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#">BananaPhone</a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#">BananaPod</a></li></div>
            <div class="col-sm-1" id="cat"><li><a href="#">iBanana</a></li></div>
            </div>
        </ul>
    </div>
</div>
<div class="container">
{{!-- <label for="p_scnts">
    <input type="text" id="p_scnt" size="20" name="p_scnt" value="" placeholder="Product Name" />
</label>
<label for="p_scnts">
    <input type="text" id="p_scnt" size="20" name="p_scnt" value="" placeholder="Category" />
</label>
<label for="p_scnts">
    <input type="text" id="p_scnt" size="20" name="p_scnt" value="" placeholder="Company" />
</label> --}}
<br>
<br>




   <h1>Banana.Shop</h1>


{{#each products}}

    <div class='row prod' url={{url}} id={{id}}>

        <div class="col-md-10 ">
            <div class='productshelf'>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <img class="productImg" src="{{url}}" height="40px">
                </div>
                <div class="col-md-6" >
                    <h4 class="productTitle">{{short_desc}}</h4>
                </div>
                <div class="col-md-1">
                    <h5>{{Category.category_name}}</h5>
                </div>
            </div>
        </div> 
        <div class="col-md-1">
            <button id={{id}} class='btn btn-primary buy'>Buy ></button>
        </div>
        <div class="col-md-1">
            <h3 class="productPrice">${{price}}</h3>
        </div>
        <br>
    </div>    

{{/each}}
   </div> 
</div>
<script class="javascript">
    $(".buy").on("click", function(event) {
        id = $(this).attr('id');
        console.log( $(this).attr('id'));

   var clickid = {
     id: $(this).attr('id')
   };

       // Send the PUT request.
    $.ajax("/add/click/", {
      type: "POST",
      data: clickid
    }).then(
      function() {
        console.log("adding click");
      }
    );
    });

    var ourItems;
    var product;
    var allOrders;

    var currentItem;
    var prodid;
    var allProducts=[];
    var userid;
    $(".buy").on("click", function (event) {
        prodid = $(this).attr('id');
        getProducts();
        function getProducts(){
            // Send the PUT request.
            $.ajax("/api/products", {
                type: "GET"
            }).then(
                function(data) {
                    allProducts = data;
                    //console.log(allProducts);
                findSpecificItem();
                }
            );
        };


        function findSpecificItem(){
            console.log("products came back...",allProducts);
            for( i = 0; i < allProducts.length; i++){
                console.log(allProducts[i].id.toString());
                console.log(prodid);
                if(allProducts[i].id.toString() === prodid){
                    currentItem = allProducts[i];
                    //console.log(currentItem);
                    
                }
            }
            setUpPostObj();
        };

        function setUpPostObj(){ 
            console.log('scoped',currentItem);
            $.ajax("/api/clicks", {
                type: "get"
            }).then(
                function (data) {
                    userid=data.user.id;
                    console.log('userid is right',userid);
                    buildPostObj();
                }
            );
        }

        function buildPostObj(){
            
            product = {
                id: currentItem.id,
                short_desc: currentItem.short_desc,
                category_id: currentItem.category_id,
                user_id: userid,
                price: currentItem.price,
                qty: 1
            };
            console.log('ready up for AJAX',product);
        postBuytoCart();
        };

        function postBuytoCart(){
            // Send the PUT request.
            $.ajax("/add/cart/", {
                type: "POST",
                data: product
            }).then(
                function () {
                    alert("added product to cart");

                }
            );
        }
    });
</script>
{{/if}}
{{#unless user}}
    <script>
        window.location.href = "/login";
    </script>
{{/unless}}
